{% extends 'base.html' %}

{% block header %}
<title> Movie Finder </title>
{% endblock %}

{% block body %}

<br>
<br>
<br>

<!-- Form (just a button with the value of the user ID), sents POST request to / route -->
<div class = "container">

	<h3> Find movies based on my likes </h3>

	<form action = '/' method = 'POST'>

		<br>

		<div class="form-group">
			<input type = 'hidden' class="form-control" name = 'userIDCollaborativeFiltering' id = 'userIDCollaborativeFiltering' value = "{{ session['userID'] }}">
		</div>

		<button type = 'submit' value = 'Find movies I like' class="btn btn-outline-primary"> 

		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
		  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
		</svg>

		Find movies I would like </button>
	</form>

</div>


<!-- Table for showing the results in case there are any -->
<div class = "container">

	<!-- If there is content to show, show table -->
	{% if (showSecondTable) and (numberOfMovies > 0) %}
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope = 'col'> # </th>
				<th scope = 'col'> Title </th>
			</tr>
		</thead>
		<tbody>
			<!-- Load and list movies by name -->
			{% for index, movie in recommendedMovies %}
			<tr>
				<td> {{ index + 1}} </td>
				<td> {{ movie }} </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endif %}

</div>


{% endblock %}